<div class="container-n2 bodyMobPub" fxLayout="column" fxLayoutAlign="space-between stretch" >

	<div class="container-n4 ">
		<a href="www.mujeres-e.gov.co">
			<img src="../../../../assets/logos/logo-mujeres-e.png" class="logoMujerese" />
		</a>
	</div>
	
	<div class="container-n4 " >
		<mat-card style="background-color: #eef5ff;">
			<mat-card-content style="text-align: center">
				<form>
					<mat-form-field style="width: 100%">
						<input type="text" matInput placeholder="Correo electrónico" formControlName="username">
					</mat-form-field>				
						<mat-form-field style="width: 100%">
							<input matInput	[type]="hide ? 'password' : 'text'"	[(ngModel)]="password" matInput	placeholder="Contraseña"/>
						  	<button	mat-icon-button	matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
								<mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
						  	</button>
						</mat-form-field>
					
					<!--  <p *ngIf="error" class="error">	{{ error }}	</p> -->
					<div >
						<button mat-raised-button class="redondeado" color="primary" [routerLink]="['/home']" routerLinkActive="router-link-active" >Ingresar</button>
					</div>
				</form>
			</mat-card-content>
		</mat-card>
	
	</div>
	
	<div class="container-n4 ">
		<a mat-button  style="color: #00a59a; text-decoration: underline; ">¿Olvidaste tu contraseña?</a>
		<a mat-button  style="color: #00a59a; text-decoration: underline; ">Registrate como usuaria nueva </a>
	</div>

	<div class="container-n4">
		<img src="../../../assets/images/mujeresapp.png" class="imagenMujeres"/>
	</div>

</div>



