<!--Layout para escitorio-->
<div class="container-n1" fxLayout="row" fxLayoutAlign="space-between stretch" fxShow.gt-sm fxHide.lt-sm >

    <div class="container-n2 leftWeb" fxFlex="29">
        <app-left></app-left>
    </div>

    <div class="container-n2 bodyWeb" fxFlex="42">
        <router-outlet></router-outlet>
    </div>

    <div class="container-n2 rightWeb" fxFlex="29">
        <app-right></app-right>
    </div>

</div>

<!--Layout para mobil-->

<div fxLayout="column" fxLayoutAlign="start stretch" class="container-n1" fxShow.lt-sm fxHide.lt-xl>
        <div class="container-n2 headerMob">
            <app-header></app-header>
        </div>
        
        <div class="container-n2 bodyMobPriv">
            <router-outlet></router-outlet>
        </div>
        
        <div class="container-n2 footerMob">
            <app-footer></app-footer>
        </div>
</div>


